%div{ style: 'float:left;border-style: solid ; border-width: 1px; padding: 10px 5px 10px 20px;' }
	- Map.HEIGHT.times do |i|
		%nobr
			- Map.WIDTH.times do |j|
				= image_tag map.get_filename(i, j), id: "#{i}:#{j}" , value: map.get_index(i, j), size: '60x60', dropzpne: :copy, draggable: false, name: 'map_panel'
		%br
%div{ style: 'float:left; padding: 10px 5px 10px 20px;' }
	%h3 Obstacles
	%br
	- Map.PANELS.keys.each do |key|
		= image_tag Map.PANELS[key], id: "obstacle#{key}", value: key, size: '80x80', draggable: true, name: :obstacle
		%br
