%h2 Listing Maps
- if(flash[:notice])
	%div{class: 'alert alert-dismissible alert-success'}
		= flash[:notice]
%table{class: 'table table-inverse'}
	%thead
		%tr
			%th
				No
			%th
				Name
			%th
				Creater
			%th
				Uploaded date
			%th
				Cleared
	%tbody
		- @maps.each do |row|
			%tr
				%th
					= row.id
				%th
					= row.name
				%th
					= row.creater
				%th
					= row.created_at
				%th
					= row.cleared
				%th
					= link_to 'destroy', { controller: :map, action: :destroy, id: row.id }, { method: :delete }
= paginate @maps
%br
= link_to 'create a new map', { controller: :map, action: :new }
